<div class="container-fluid">
  <div class="othersection-container">
    <div class="row">
      <!-- <div class="col-lg-2" style="background-color:yellow;">left Navigation links</div> -->
      <div class="col-lg-12">
          <h4 (click)="showHideDiv()">Other Information</h4>

        <div  *ngIf="showDiv">
          <!-- <form> -->
              <!-- <div class="row">
                  <div class="col-lg-6">
                    Date Format
                  </div>
                  <div class="col-lg-6">
                    Number Format
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <select>
                        <option value="1">1</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                      <select>
                          <option value="1">1</option>
                      </select>
                  </div>
              </div>


              <div class="row">
                  <div class="col-lg-6">
                    Grid Style
                  </div>
                  <div class="col-lg-6">
                    Layout of "To" address
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <select>
                        <option value="1">1</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                      <select>
                          <option value="1">1</option>
                      </select>
                  </div>
              </div>


              <div class="row">
                  <div class="col-lg-6">
                    <input type="checkbox"> Include the contact's job title in the "To" address
                  </div>
                  <div class="col-lg-6">
                    "From" email address for invoices
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">

                  </div>
                  <div class="col-lg-6">
                      <input type="text">
                  </div>
              </div>


              <div class="row">
                  <div class="col-lg-6">
                      "From" mailing address for invoices
                  </div>
                  <div class="col-lg-6">
                    Primary charge sort order
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <textarea class="form-control inputstl" rows="2" ></textarea>
                  </div>
                  <div class="col-lg-6">
                      <select>
                          <option value="0">None</option>
                      </select>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-6">
                      Secondary charge sort order
                  </div>
                  <div class="col-lg-6">
                    Location of project notes
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <select>
                          <option value="0">Oldest First</option>
                      </select>
                  </div>
                  <div class="col-lg-6">
                        <div class="row">
                          <div class="col-lg-12">
                            <input type="radio"> Header
                          </div>
                          <div class="col-lg-12">
                              <input type="radio"> Footer
                          </div>
                        </div>
                  </div>
              </div>


              <div class="row">
                  <div class="col-lg-6">
                      To/From Header labels
                  </div>
                  <div class="col-lg-6">
                    Heading spacing
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12">
                            <input type="radio"> Header
                          </div>
                          <div class="col-lg-12">
                              <input type="radio"> Footer
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-6">
                      <input type="number">
                  </div>
              </div> -->
            <div class="row">
              <div class="col-lg-6">
                <!-- <div class="form-group"> -->
                  <label for="addiionalInfo" class="col-lg-8 control-label">Additional text or HTML to print on the invoice</label>
                  <div class="col-lg-8">
                    <textarea class="form-control inputstl" rows="2" [(ngModel)]="additionalInfo.additionalText"></textarea>
                  <!-- </div> -->
                </div>
              </div>
              <!-- locationOfInvoiceText : '', -->
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-12">
                    Location of invoice notes
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="note-head" name="noteLoc" value="Header" [(ngModel)]="additionalInfo.locationOfInvoiceText">
                      <label class="form-check-label" for="note-head">Header</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="note-footer" name="noteLoc" value="Footer" [(ngModel)]="additionalInfo.locationOfInvoiceText">
                        <label class="form-check-label" for="note-footer">Footer</label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <label class="checkbox-inline col-lg-8">
                    <input type="checkbox" [(ngModel)]="additionalInfo.isincludeBalances">Include aged outstanding balance in the invoice
                  </label>
                <!-- </div> -->
              </div>
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox"  [(ngModel)]="additionalInfo.isSupressTerms">Supress the items
                  <!-- </label> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isSupressFormAddress">Supress the "From" address
                  <!-- </label> -->
                <!-- </div> -->
              </div>
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isShowDueDateCalculatedFromTerms">Show due date calculated from terms
                  <!-- </label> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [checked]="true" [(ngModel)]="additionalInfo.isDisplayNegativeNumbersRedColor">Display negative numbers in red
                  <!-- </label> -->
                <!-- </div> -->
              </div>
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isSupressCentsWhenPossible">Supress cents when possible
                  <!-- </label> -->
                <!-- </div> -->
              </div>
            </div>
               <!-- formatHours : '', -->
            <div class="row">
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isUseISOCurrencyCodes">Use ISO Currency Codes for monetary values
                  <!-- </label> -->
                <!-- </div> -->
              </div>
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isBreakdownTakes">Break down taxes according to tax rates
                  <!-- </label> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isSuppressProjectName">Supress project name
                  <!-- </label> -->
                <!-- </div> -->
              </div>
              <div class="col-lg-6">
                <div class="row" style="margin-top:15px">
                  <div class="col-lg-12">Format hours</div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="noteHour" value="minDecimal" [(ngModel)]="additionalInfo.formatHours">
                      <label class="form-check-label">Minimum number of decimal places</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="noteHour" value="oneDecimal" [(ngModel)]="additionalInfo.formatHours">
                      <label class="form-check-label" >One decimal place if possible</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="noteHour" value="twoDecimal" [(ngModel)]="additionalInfo.formatHours">
                      <label class="form-check-label">Two decimal places</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="col-lg-12">
                  <div class="row invoice-edit">
                    <!-- <div class="col-lg-5">Invoice header custom fields</div> -->
                    <div class="col-lg-5">
                      <!-- <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i> <span class="sr-only"></span>Edit</a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox"  [(ngModel)]="additionalInfo.isAddAttachmentLinks">Add attachment link to invoice view
                  <!-- </label> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isIncludeAttachmentDownloadPDF">Include attachment download file when generating pdf file
                  <!-- </label> -->
                <!-- </div> -->
              </div>
              <div class="col-lg-6">
                <!-- <div class="form-check"> -->
                  <!-- <label class="checkbox-inline col-lg-8"> -->
                    <input type="checkbox" [(ngModel)]="additionalInfo.isSuppressTotalPaymentToDate">Supress "Total payment to date"
                  <!-- </label> -->
                <!-- </div> -->
              </div>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
