<div class="container">
    <div class="row">
      <!-- <div class="col-md-2" >
          <a [routerLink]="['/report']" routerLinkActive="router-link-active" >Report</a>
      </div>

      <div class="col-md-2">
          <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
        </div> -->
        <div class="col-md-4" class="invoice-title" [routerLink]="['/invoice']" routerLinkActive="router-link-active">
          Invoices
        </div>

      <div class="col-md-2">
        </div>
    </div>
  </div>

<router-outlet></router-outlet>
