<div class="container" style="font-family: 'Times New Roman', Times, serif;">
  <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <!-- <label (click)="editInvoice()">Edit :: </label>   -->
            <!-- <strong> {{ generalInfo.invoiceLayout }}</strong> -->
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              Invoice Layout *
            </div>
            <div class="col-md-6">
              <input type="checkbox" [(ngModel)]="generalInfo.isActiveInvoiceLayout"> Active invoice layout
            </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <input type="text" class="invoiceLayout" [(ngModel)]=generalInfo.invoiceLayout>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <input
                  type="checkbox"
                  name="invoiceActive"
                  [(ngModel)]="generalInfo.isDefaultInvoiceLayout"> Default invoice layout
              </div>
          </div>
      </div>
  </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
          <app-group></app-group>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-multi-group></app-multi-group>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
          <app-additional-info></app-additional-info>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
          <app-logo-info></app-logo-info>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-footer-info></app-footer-info>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
          <app-pdf-setting></app-pdf-setting>
        </div>
    </div>
    <hr>
</div>

